Repository fac/aws_local_config_parser: changes, and which lefthook commands are due for each by the changed paths.
All: actionlint, ruby-lint

actionlint:
  run: actionlint {staged_files}

ruby-lint:
  run: bundle exec rubocop {staged_files}

Bumping ruby version
  .ruby-version
Due: none

Adding missing gems (removed from core ruby)
  Gemfile
  aws_local_config_parser.gemspec
Due: none

Adding Gemfile.lock to version control
  .gitignore
  Gemfile.lock
Due: none

Bumping version
  Gemfile.lock
  lib/aws_local_config_parser/version.rb
Due: ruby-lint

Switch to use depot managed runner
  .github/workflows/tests.yml
Due: actionlint

Implement zizmor recommended cooldown
  .github/dependabot.yml
Due: none

Drop `pry-debug` dev dependency Dependabot is unable to resolve our Ruby dependencies: - https://github.com/fac/aws_local_config_parser/network/updates/1265171316
  Gemfile
  Gemfile.lock
Due: none

Bump `erb` to 6.0.4
  Gemfile.lock
Due: none

Run Dependabot nightly
  .github/dependabot.yml
Due: none

Pin GitHub Actions to specific SHAs
  .github/workflows/check-pinned-actions.yml
  .github/workflows/release_gem.yml
  .github/workflows/tests.yml
  .pinact.yaml
Due: actionlint

Path conditions:
  actionlint: any of: .github/workflows/*.{yml,yaml}
  ruby-lint: any of: *.rb
